<input type="text" id="s" placeholder="s:">
<button onclick="proc()">fetch</button>
<h1 id="results"></h1>
<script>
    async function proc() {
        results = []

        await fetch("/uppercase", {
            method: "post", 
            body: JSON.stringify({
                s: document.getElementById("s").value
            })
        }).then(function(r) {
            return r.json()
        }).then(function(json) {
            results.push("uppercase: " + json.v)
        })

        await fetch("/count", {
            method: "post", 
            body: JSON.stringify({
                s: document.getElementById("s").value
            })
        }).then(function(r) {
            return r.json()
        }).then(function(json) {
            results.push("count: " + json.v)
        })

        document.getElementById("results").innerHTML = results.join("<br>");
    }
</script>